doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title prueba gulp
        link(rel="stylesheet", href="./css/index.css")
    body
      h1 esta es una prueba de Gulp
      p Provando observaciòn de archivos pug
      p esto se actualiza muy rapido
      p hola que hace
      p vamos a ver los cambios en tiempo real
    section
      p hola
      